@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Archivo Black", sans-serif;
}

@media (min-width: 1536px) {
  html {
    display: flex;
    justify-content: center;
  }
}

body {
  max-width: 1536px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: black;
  color: white;
}
